language: python
python:
  - "2.7"
cache: pip
install:
  - pip install requests
notifications:
  email:
    recipients:
      - mdtayeen@yahoo.com
    on_success: change
    on_failure: always
script:
  - python -m unittest discover -s tests -p '*test_.py' --verbose

